<a href="https://colab.research.google.com/github/untimation/pythonStudy25/blob/master/BaseSetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# set 은 집합 자료형
# 집합 자료형은 set 키워드를 사용해 만든다
s1 = set([1, 2, 3])
s1

# 집합 자료형은 순서와 중복을 무시한다
s2 = set("Hello")
s2 # = {'e', 'H', 'l', 'o'}

 # 집합 자료형의 순서를 지키게 하기 위해서는 타입을 리스트나 튜플로 바꿔줘야 한다
a1 = set([1,2,3])
a2 = list(a1)
t1 = tuple(a1)

(1, 2, 3)

In [9]:
# set 자료형으로 교,합,차 를 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
s1 & s2 # = {4, 5, 6}
s1.intersection(s2) # = {4, 5, 6}

# 합집합
s1 | s2 # = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1.union(s2) # = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# 차집합
s1 - s2 # = {1, 2, 3}
s1.difference(s2) # = {1, 2, 3}
s2 - s1 # = {7, 8, 9}
s2.difference(s1) # = {7, 8, 9}

{4, 5, 6}

In [12]:
# 집합 자료형 관련 함수
s1 = set([1, 2, 3])
s1.add(4) # = {1, 2, 3, 4} 값 1개만 추가하기
s1.update([5, 6, 7]) # = {1, 2, 3, 4, 5, 6, 7} 여러 개의 값을 한꺼번에 추가하기
s1.remove(2) # = {1, 3, 4, 5, 6, 7} 특정값 제거

{1, 3, 4, 5, 6, 7}